# Exported regular functions
export(agro_cld)
export(calc_bliss_synergy)
export(export_biorender_svg)
export(get_biocontrol_efficacy)
export(get_biplot_scores)
export(get_blues)
export(get_blups)
export(get_critical_soil_value)
export(get_disease_severity_params)
export(get_dose_response_params)
export(get_ed)
export(get_fertilizer_optimum)
export(get_ftsw_breakpoint)
export(get_gam_inflection_points)
export(get_grain_filling_kinetics)
export(get_greenhouse_gradients)
export(get_growth_kinetics)
export(get_heritability)
export(get_ion_homeostasis)
export(get_microbial_synergy)
export(get_osmotic_adjustment)
export(get_photosynthetic_params)
export(get_pollen_fertility)
export(get_semivariogram)
export(get_spatial_grid)
export(get_stress_phase_slopes)
export(get_strata_variance)
export(get_temporal_covariance)
export(get_variance_genetic)
export(get_zoib_parameters)
export(report_ai_diagnostics)
export(simulate_agri_data)
export(stage1_to_stage2)

# S3 Methods
S3method(get_blups, default)
S3method(get_blups, lmerMod)
S3method(get_blups, mmer)
S3method(get_blups, SpATS)

S3method(get_blues, default)

S3method(get_dose_response_params, default)
S3method(get_dose_response_params, drc)

S3method(get_ed, default)
S3method(get_ed, drc)

S3method(get_heritability, default)
S3method(get_heritability, lmerMod)
S3method(get_heritability, mmer)
S3method(get_heritability, SpATS)

S3method(get_spatial_grid, default)
S3method(get_spatial_grid, SpATS)

S3method(get_variance_genetic, default)
S3method(get_variance_genetic, lmerMod)
S3method(get_variance_genetic, mmer)
S3method(get_variance_genetic, SpATS)

import(methods)
import(stats)
import(utils)
